<%# <h1>Hello la team</h1>



<% @cars.each do |car| %>
<%# <%= image_tag(car.photo) %>
<%# <% end %>



<h1>Hello la team</h1>
<% @cars.each do |car| %>
<%= link_to car_path(car) do %>
<%= image_tag(car.photo) %>
<% end %>
<% end %>
